@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #F9D188, #F7AC85);
  min-height: 100vh;
  font-size: 1rem;
  font-family: "Nunito", serif;
}
body .main-container {
  position: relative;
  max-width: 1200px;
  margin: 5rem auto;
  background: #F9F5F3;
  padding: 2rem;
  border-radius: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #F9D188, #F7AC85);
  min-height: 100vh;
  font-size: 1rem;
  font-family: "Nunito", serif;
}
body .main-container {
  position: relative;
  max-width: 1200px;
  margin: 5rem auto;
  background: #F9F5F3;
  padding: 2rem;
  border-radius: 0.5rem;
}

nav {
  background: rgba(179, 176, 175, 0.2431372549);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
nav .logo {
  width: 10rem;
}
nav .logo a img {
  width: 100%;
  display: block;
}
nav .search-container {
  background: #FFFFFF;
  display: flex;
  border-radius: 3rem;
}
nav .search-container input {
  width: 70%;
  border: none;
  outline: none;
  background: transparent;
  color: #b3b0af;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem;
}
nav .search-container .search-button {
  width: 30%;
  border: none;
  background: linear-gradient(to right, #F9D188, #F7AC85);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 6rem;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
nav .search-container .search-button:hover {
  scale: 1.09;
}
nav .add-bookmark-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
nav .add-bookmark-container .add-container {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: transparent;
  transition: all 0.2s ease-in-out;
}
nav .add-bookmark-container .add-container i {
  color: #F7B285;
  font-size: 1.5rem;
}
nav .add-bookmark-container .add-container p {
  font-weight: bold;
  color: #F7B285;
}
nav .add-bookmark-container .add-container:hover {
  scale: 1.09;
}
nav .add-bookmark-container .bookmark {
  cursor: pointer;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.2s ease-in-out;
}
nav .add-bookmark-container .bookmark i {
  color: #F7B285;
  font-size: 1.5rem;
}
nav .add-bookmark-container .bookmark p {
  font-weight: bold;
  color: #F7B285;
}
nav .add-bookmark-container .bookmark:hover {
  scale: 1.09;
}

.main-content {
  min-height: 100vh;
  display: flex;
}
.main-content .left {
  width: 40%;
}
.main-content .left .card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 0.3rem;
  text-decoration: none;
}
.main-content .left .card-item .card-image-container {
  width: 5rem;
}
.main-content .left .card-item .card-image-container img {
  width: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-content .left .card-item .card-text {
  width: 70%;
}
.main-content .left .card-item .card-text h3 {
  color: #F7B285;
}
.main-content .left .card-item .card-text p {
  color: #504e70;
}
.main-content .left .card-item:hover {
  background: rgba(179, 176, 175, 0.2431372549);
  transform: translateY(-5px);
}
.main-content .right {
  background: rgba(179, 176, 175, 0.2431372549);
  width: 60%;
}
.main-content .right .product-detail-container {
  width: 100%;
}
.main-content .right .product-detail-container img {
  width: 100%;
  display: block;
}
.main-content .right .main-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.main-content .right .main-text .time {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main-content .right .main-text .time i {
  color: #F7B285;
  font-size: 1.5rem;
}
.main-content .right .main-text .time p {
  color: #F7B285;
}
.main-content .right .main-text .servings {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main-content .right .main-text .servings i {
  color: #F7B285;
  text-decoration: none;
}
.main-content .right .main-text .servings p {
  color: #F7B285;
}
.main-content .right .main-text .servings .btn-conts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.main-content .right .main-text .servings .btn-conts .btn-ico-circle {
  border: #F7B285 solid 2px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.main-content .right .main-text .servings .btn-conts .btn-ico-circle i {
  color: #F7B285;
}
.main-content .right .main-text .bookmark-container i {
  color: #F7B285;
  font-size: 1.5rem;
}
.main-content .right .recipe-ingredients {
  padding: 2rem;
}
.main-content .right .recipe-ingredients .recipe-heading .overview {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #F7B285;
  border-bottom: #F7B285 solid 1px;
}
.main-content .right .recipe-ingredients .recipe-heading .product-name {
  text-transform: capitalize;
  color: #F7B285;
  padding: 1rem 0rem;
}
.main-content .right .recipe-ingredients .recipe-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
}
.main-content .right .recipe-ingredients .recipe-grid-container .image-container {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
  overflow: hidden;
}
.main-content .right .recipe-ingredients .recipe-grid-container .image-container img {
  width: 100%;
  display: block;
}
.main-content .right .recipe-ingredients .recipe-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
}
.main-content .right .recipe-ingredients .recipe-description h3 {
  font-size: 1.5rem;
  color: #F7B285;
}
.main-content .right .recipe-ingredients .recipe-description p {
  font-size: 1rem;
  color: #F7B285;
}

.form-section {
  background: linear-gradient(to right, #F9D188, #F7AC85);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  position: absolute;
  width: 50%;
  top: 5%;
  left: 25%;
  border-radius: 0.5rem;
  transform: translateY(-500%);
  transition: all 1s ease-in-out;
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
}
.form-section #upload-form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.form-section #upload-form input {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #F9F5F3;
  font-size: 1rem;
  color: #504e70;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  margin: 0.5rem 0rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}
.form-section #upload-form input:hover {
  transform: translateY(-3px);
}
.form-section #upload-form #upload-button {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #F9F5F3;
  padding: 1rem 2rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #F7B285;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.form-section #upload-form #upload-button i {
  color: #F7B285;
  font-size: 1.5rem;
}
.form-section #upload-form #upload-button:hover {
  transform: translateY(-3px);
}
.form-section .image-content-container {
  width: 40%;
}
.form-section .image-content-container img {
  width: 100%;
  display: block;
}

.show-form {
  transform: translateX(0%);
}/*# sourceMappingURL=styles.css.map */